* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: green;
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(2px, 2vw, 18px);
}
.product {
  display: flex;
  width: 100%;
  margin: 50px;
  /* border: 2px solid red; */
  .product__photo {
    margin: 15px;
    /* border: 2px solid blue; */

    .photo-container {
      position: relative;
      left: clamp(67.55px, 45vw, 500.2px);
      margin: 15px;
      margin-right: 0px;
      margin-left: 0px;
      /* border: 2px solid green; */
      background-color: #fff;
      border-radius: 7px;
      .photo-main {
        background-color: lime;
        /* margin: 15px; */

        img {
          position: relative;
          right: 6vw;
          /* border: 2px solid khaki; */
          width: clamp(20px, 30vw, 400px);
        }
        .controls {
          display: flex;
          justify-content: space-between;
          margin: 15px;
          padding: 15px;
          color: #fff;
          /* border: 2px solid orange; */
        }
      }

      .photo-album {
        margin: 15px;
        /* border: 2px solid pink; */
        ul {
          list-style-type: none;
          display: flex;
          justify-content: space-evenly;
        }
        img {
          width: 10vw;
        }
      }
    }
  }

  .product__info {
    margin: 15px;
    margin-left: 0px;
    padding-left: clamp(67.55px, 45vw, 500.2px);
    border-radius: 7px;
    /* border: 2px solid teal; */
    background-color: #fff;
    .title {
      margin: 15px;
      margin-top: clamp(26px, 10vw, 122px);
      /* border: 2px solid maroon; */
    }

    .price {
      margin: 15px;
      /* border: 2px solid navy; */
    }

    .variant {
      margin: 15px;
      /* border: 2px solid olive; */
      ul {
        list-style-type: none;
        display: flex;
        justify-content: space-evenly;
      }
      img {
        width: 10vw;
      }
    }

    .description {
      margin: 15px;
      /* border: 2px solid lime; */
    }

    .add-cart {
      margin: 15px;
      border: none;
      border-radius: 7px;
      background-color: red;
      padding: 10px;
    }
  }
}
